body {
  font-family: "Kanit", sans-serif;
  background: #252525;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#demo {
  height: 100vh;
  border: 1px solid #333;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/space-background.png);
  background-size: cover;
  background-position: bottom;
}

#freds {
  position: absolute;
  top: 86vh;
  left: 22vw;
}

@media(max-width: 500px) {
  #freds {
    top: 60vh;
  }
  #freds img {
    width: 80px;
  }
}

#freds img {
  width: 122px;
}

.para {
  color: blue;
  font-size: 20px;
  padding-bottom: 5rem;
}

.nopara {
  font-size: 20px;
  color: red;
}

.box {
  background-color: white;
  width: 10vw;
  height: 10vw;
}
